*{
    padding: 0;
    margin: 0;
}

.container{
    margin: 150px auto !important;
    width: 450px;
    padding: 20px;
    background-color: #90c1d7;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.349);
    border-radius: 15px;
}
.heading{
    font-size: large;
    font-weight: 600;
    color: rgb(33, 44, 48);
}
.sub-wallet{
    font-size:14px;
    font-weight: 600;
    color: rgb(33, 44, 48);
}
.amount{
    width: auto;
    font-size: medium;
    /* background-color: rgba(244, 244, 247, 0.438); */
    border-radius: 15px 0px 0px 15px;
    font-weight: 600;
    color: aliceblue;
    /* color: transparent; */
    background: #666666;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
}
.amount-main{
    /* background-color: rgba(244, 244, 247, 0.438); */
    padding-left: 220px;
}
.submit{
    background-color: rgba(232, 232, 250, 0.76);
    width: 50px;
    border: none !important;
}
.input-1st,
.input-2nd,
.input-3rd,
.input-4th,
.input-5th{
    width: 50px;
    background-color: #90c1d7;
    color: aliceblue;
}
#label,
.label{
    color: #7e7d7d;
    font-weight: 500;
    font-size: medium;
}

@media only screen and (max-width: 425px){
    .container{
        margin: 50px auto !important;
        box-shadow:  none;
        background-color:  white;
    }
    .amount{
        font-size: medium;
        border-radius: 15px 0px 0px 15px;
        color: rgba(74, 81, 85, 0.411);
        /* background: #acabab; */
        text-shadow: 0px 3px 3px rgba(150, 148, 148, 0.178);
    }
    .input-1st,
    .input-2nd,
    .input-3rd,
    .input-4th,
    .input-5th{
    width: 50px;
    background-color: #f7fafc;
    color: rgb(88, 89, 90);
}

    
}