*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #F7F7FC;
    align-content: center !important;
    text-align: center;
}
.container{
    margin: 10px auto !important;
    width: 60%;
    padding: 40px;
    background-color: #00AAFF;
    /* background-color: #FFFFFF; */
    box-shadow: 0 3px 10px rgba(74, 74, 75, 0.253);
    border-radius: 20px;
}
.heading{
    font-size: larger;
    font-weight: 600;
    /* color: #00AAFF; */
    color: #00AAFF;
    /* color: #FFFFFF; */
    text-shadow: 0px 3px 3px rgba(122, 123, 139, 0.637);
    text-align: center;
    padding-top: 70px;
}
.sub-wallet{
    font-size:15px;
    font-weight: 700;
    /* color: #00AAFF; */
    color: #FFFFFF;
    text-shadow: 0px 1px 3px rgba(138, 135, 135, 0.356);
}
.amount{
    width: auto;
    font-size: medium;
    /* background-color: #00AAFF; */
    background-color: #FFFFFF;
    border-radius:  15px;
    font-weight: 600;
    /* color: #FFFFFF; */
    color: #00AAFF !important;
    /* color: transparent; */
    /* background: #666666; */
    /* -webkit-background-clip: text; */
    -moz-background-clip: text;
    background-clip: text;
    text-shadow: 0px 3px 3px rgba(78, 77, 77, 0.342);
}
.amount-main{
    /* background-color: rgba(244, 244, 247, 0.438); */
    /* padding-left: 120px; */
    width: auto;
}
.submit{
    /* background-color: rgba(234, 234, 238, 0.815); */
    background-color: #00AAFF;
    width: auto;
    border: none !important;
    margin-top: 30px;
    /* color: #00AAFF; */
    color: #FFFFFF;
    font-weight: 600;
}
.input-1st,
.input-2nd,
.input-3rd,
.input-4th,
.input-5th{
    width: 300px;
    /* background-color: #26282933; */
    color: #00AAFF;
    border-radius:5px 5px 5px 10px;
    margin-top: 5px;
    padding: 4px;
    padding-top: 10px !important;
    font-weight: 600;
    -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:        inset 0 0 10px #000000;
   outline: none;
   border: none;
   /* wi */
    
}
.input-1st::-webkit-scrollbar,
.input-2nd::-webkit-scrollbar,
.input-3rd::-webkit-scrollbar,
.input-4th::-webkit-scrollbar,
.input-5th::-webkit-scrollbar{
    appearance: none;
}
#label{
    /* color: #00AAFF; */
    color: #FFFFFF;
    font-weight: 600;
    padding: 4px;
    margin-top: 5px;
    text-shadow: 0px 2px 2px rgba(119, 118, 118, 0.5);
}
.label{
    /* color: rgba(234, 234, 238, 0.815); */
    color: #00AAFF;
    font-weight: 600;
    font-size: large;
}
.input-sec {
    padding: 0px 50px 0px auto;

}
.result-sec{
    /* background-color: #00AAFF; */
    background-color: #FFFFFF;

    border-radius: 20px;
    /* color: white !important; */
    color: #00AAFF;
    padding: 20px 50px 20px 50px;
}
.intro{
    /* color: #00AAFF; */
    color: #FFFFFF;
    text-shadow: 0px 3px 3px rgba(85, 84, 84, 0.5);
    font-size: smaller;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.line{
    /* background-color: #00AAFF; */
    background-color: #FFFFFF;
    width: 100%;
    height: 2px;
    /* margin: 0 auto; */
}

@media only screen and (max-width: 1024px){
    .amount{
        width: auto;
        font-size: medium;
        border-radius:  15px;
        font-weight: 600;
        -moz-background-clip: text;
        background-clip: text;
        text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
    }
    .amount-main{
        /* background-color: rgba(244, 244, 247, 0.438); */
        padding-left: 20px;
    }
    .label{
        font-weight: 600;
        font-size:medium;
        width: auto;
    }
    .result-sec{
        padding: 20px 40px 20px 40px;
    }
        
    
}
@media only screen and (max-width: 1024px){

    .result-sec{
        padding: 20px 30px 20px 40px;
    }

    .input-sec {
        padding: 0px 30px 0px 30px;
    
    }
    .container{
        width: 80%;
        padding: 40px;
    }
    .heading {
        margin-top: 10px;
    }
    }
@media only screen and (width: 320px){
        .container{
            width: auto !important;
        }
        .heading {
            margin-top: 10px;
        }
    
    }

@media only screen and (width: 768px){
        .result-sec{
            padding: 20px 40px 20px 40px;
            width: auto;
        }
        .label{
            font-size: 14px;
        }
        .heading {
            margin-top: 10px;
        }
    
    }
@media only screen and (max-width: 425px){
    .container{
        margin: 20px auto !important;
        box-shadow:  none;
    }
    .heading {
        margin-top: 10px;
    }
    .amount{
        font-size: medium;
        border-radius:  15px;
        /* background: #acabab; */
        text-shadow: 0px 3px 3px rgba(150, 148, 148, 0.178);
    }
    .result-sec{
        margin-top: 45px;
    }
    .sub-result-sec{
        display: grid;
        grid-template-columns: auto auto auto !important;
    }
    .input-1st,
    .input-2nd,
    .input-3rd,
    .input-4th,
    .input-5th{
    width: 50px;
}

    
}