*{
    padding: 0;
    margin: 0;
}

.container{
    margin: 150px auto !important;
    width: 450px;
    padding: 20px;
    background-color: #90c1d7;
    box-shadow: rgb(201, 180, 152);
}
.amount{
    width: auto;
    text-align: left;
    font-size: medium;
}
.amount-main{
    background-color: rgba(244, 244, 247, 0.438);
}
.sub{
    background-color: rgba(174, 174, 245, 0.438);
    width: 50px;
}
.input-1st,
.input-2nd,
.input-3rd,
.input-4th,
.input-5th{
    width: 50px;
}

@media only screen and (max-width: 425px){
    .container{
        box-shadow:  0rem 0rem rgba(0,0,0,.15) !important;
    }

}